<div id="sidebar">
    <mat-nav-list>
        <!--
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
        </a>
        -->
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/screen1']">
            <mat-icon class="sidenav-icon">person_add</mat-icon> {{ 'Cadastrar' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/screen2']">
            <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Listar' | translate }}
        </a>
    </mat-nav-list>
</div>
